
.home-header {
  padding-top: 80px !important;
}

.home-section {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(./Assets/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  min-height: 100vh;
  padding-left: 50px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: white;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
}

.heading-name {
  font-size: 4em !important;
}

.main-name {
  color: var(--color-main);
}