@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

html {
  /* --home-bg: #004059;
  --card-bg: #003b52;
  --card-shadow: #636567;
  --txt: #d5c06f; */
  --home-bg: #a395e9;
  --card-bg: #c8c8d0;
  --card-shadow: #636567;
  --txt: #d5c06f;
}

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-main {
  color: var(--txt) !important;
}

button:focus {
  box-shadow: none !important;
}

.section {
  padding-top: 60px !important;
  padding-bottom: 20px !important;
  color: var(--txt-blue);
}

.section-title {
  font-size: 2.8em;
  margin-bottom: 1em;
}

.section-description {
  padding-bottom: 20px;
  font-size: 1.2em;
  text-align: left;
}

.card {
  padding: 20px;
  background-color: transparent;
  border: none;
}

.card-body {
  border-radius: 10px;
  opacity: 0.93;
  padding: 1.6em;
  transition: all 0.4s ease 0s;
  height: 100%;
  background-color: var(--card-bg);
  color: var(--txt);
}

.card-title {
  padding-top: 1em;
}

.card-shadow .card-body:hover {
  overflow: hidden;
  transform: scale(1.05);
  box-shadow: 0 6px 16px 4px var(--card-shadow);
}

.social-section {
  text-align: center !important;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white !important;
  background-color: var(--card-bg);
}

.social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.social-icons .icon {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: white;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.social-icons .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--txt);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.social-icons .icon:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--txt);
}

.social-icons .icon:hover {
  color: var(--txt);
  box-shadow: 0 0 5px var(--txt);
  text-shadow: 0 0 2px var(--txt);
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: var(--card-bg);
}

/* section based */

.home-header {
  padding-top: 60px;
}

.home-section {
  position: relative;
  z-index: -1;
  background-color: var(--home-bg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  min-height: 100vh;
  padding-left: 50px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: white;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
}

.heading-name {
  font-size: 4em !important;
}

.heading-name .main-name {
  color: var(--txt);
}

.about-section {
  padding-top: 100px !important;
}

.product-section {
  position: relative !important;
}

.product-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.product-card-view:hover {
  overflow: hidden !important;
}

.card-img-top {
  border-radius: 10px;
}

.product-section .section-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.carousel-item {
  padding: 20px 50px;
}

.carousel-inner {
  height: 260px;
}

@media(min-width: 767px) {
  .carousel-inner {
    height: 200px;
    padding: 20px 80px;

  }
}