.benefits-section {
    background-image: var(--section-gradient) !important;
}

.benefits-list {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.benefits-list li {
    padding-left: 0;
}